<div class="list-group action-list" id="actions-1">
  <a href="#" class="list-group-item action-item" duration="60">Assis</a>
  <a href="#" class="list-group-item action-item" duration="10">Bilinguisme</a>
  <a href="#" class="list-group-item action-item" duration="120">Camouflage</a>
  <a href="#" class="list-group-item action-item" duration="25">Coiffure</a>
  <a href="#" class="list-group-item action-item" duration="60">Inspection</a>
  <a href="#" class="list-group-item action-item" duration="60">Place repos</a>
</div>
<div class="list-group action-list" id="actions-2">
  <a href="#" class="list-group-item action-item" duration="30">Privilège</a>
  <a href="#" class="list-group-item action-item" duration="30">Pompe</a>
  <a href="#" class="list-group-item action-item" duration="60">Ration</a>
  <a href="#" class="list-group-item action-item" duration="30">Rompre</a>
  <a href="#" class="list-group-item action-item" duration="10">Salut</a>
  <a href="#" class="list-group-item action-item" duration="120">Sanction</a>
</div>