<!-- <ul class="list-group" id="action-list">
  <a href="#" class="list-group-item action-item">Danser</a>
  <a href="#" class="list-group-item action-item">Chanter</a>
  <a href="#" class="list-group-item action-item">Dormir</a>
  <a href="#" class="list-group-item action-item">Pleurer</a>
</ul> -->
<div id="home-container" class="col-xs-12 col-sm-12 col-lg-12 fade-in-1halfs"><!-- 
	<iframe id="video1" class="video-stream" width="" height="" src="https://www.youtube.com/embed/RDfjXj5EGqI?autoplay=1&enablejsapi=1" frameborder="0" allowfullscreen volume="0"></iframe>
	<iframe id="video2" class="video-stream" width="" height="" src="https://www.youtube.com/embed/RDfjXj5EGqI?autoplay=1&enablejsapi=1" frameborder="0" allowfullscreen volume="0"></iframe> -->
	<div id="past-orders-div">
		<ul class="list-group" id="past-orders-list">
		  <!-- <li class="list-group-item">Cras justo odio</li>
		  <li class="list-group-item">Dapibus ac facilisis in</li>
		  <li class="list-group-item">Morbi leo risus</li>
		  <li class="list-group-item">Porta ac consectetur ac</li>
		  <li class="list-group-item">Vestibulum at eros</li> -->
		</ul>
	</div>
</div>