<div class="row" id="user-data">
	<div class="col-sm-12" id="etage1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Modify Condo Status</h3>
			</div>
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Étage 1</div>
				<div class="panel-body">
					<table class="table table-bordered" id="user-table">
						<thead>
							<tr>
								<th>Condo 101</th>
								<th>Condo 102</th>
								<th>Condo 103</th>
								<th>Condo 104</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="condo-101"><input type="checkbox" class="bootstrap-toggle" name="condo-101"></td>
								<td id="condo-102"><input type="checkbox" class="bootstrap-toggle" name="condo-102"></td>
								<td id="condo-103"><input type="checkbox" class="bootstrap-toggle" name="condo-103"></td>
								<td id="condo-104"><input type="checkbox" class="bootstrap-toggle" name="condo-104"></td>
							</tr
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
	<div class="col-sm-12" id="etage2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Modify Condo Status</h3>
			</div>
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Étage 2</div>
				<div class="panel-body">
					<table class="table table-bordered" id="user-table">
						<thead>
							<tr>
								<th>Condo 201</th>
								<th>Condo 202</th>
								<th>Condo 203</th>
								<th>Condo 204</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="condo-201"><input type="checkbox" class="bootstrap-toggle" name="condo-201"></td>
								<td id="condo-202"><input type="checkbox" class="bootstrap-toggle" name="condo-202"></td>
								<td id="condo-203"><input type="checkbox" class="bootstrap-toggle" name="condo-203"></td>
								<td id="condo-204"><input type="checkbox" class="bootstrap-toggle" name="condo-204"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
	<div class="col-sm-12" id="etage3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Modify Condo Status</h3>
			</div>
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Étage 1</div>
				<div class="panel-body">
					<table class="table table-bordered" id="user-table">
						<thead>
							<tr>
								<th>Condo 301</th>
								<th>Condo 302</th>
								<th>Condo 303</th>
								<th>Condo 304</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="condo-301"><input type="checkbox" class="bootstrap-toggle" name="condo-301"></td>
								<td id="condo-302"><input type="checkbox" class="bootstrap-toggle" name="condo-302"></td>
								<td id="condo-303"><input type="checkbox" class="bootstrap-toggle" name="condo-303"></td>
								<td id="condo-304"><input type="checkbox" class="bootstrap-toggle" name="condo-304"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
	<div class="col-sm-12" id="etage4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Modify Condo Status</h3>
			</div>
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Étage 4</div>
				<div class="panel-body">
					<table class="table table-bordered" id="user-table">
						<thead>
							<tr>
								<th>Condo 401</th>
								<th>Condo 402</th>
								<th>Condo 403</th>
								<th>Condo 404</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="condo-401"><input type="checkbox" class="bootstrap-toggle" name="condo-401"></td>
								<td id="condo-402"><input type="checkbox" class="bootstrap-toggle" name="condo-402"></td>
								<td id="condo-403"><input type="checkbox" class="bootstrap-toggle" name="condo-403"></td>
								<td id="condo-404"><input type="checkbox" class="bootstrap-toggle" name="condo-404"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
	<div class="col-sm-12" id="etage5">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Modify Condo Status</h3>
			</div>
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Étage 5</div>
				<div class="panel-body">
					<table class="table table-bordered" id="user-table">
						<thead>
							<tr>
								<th>Condo 501</th>
								<th>Condo 502</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="condo-501"><input type="checkbox" class="bootstrap-toggle" name="condo-501"></td>
								<td id="condo-502"><input type="checkbox" class="bootstrap-toggle" name="condo-502"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
</div>